HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


**/Admin/
**/admin/
**/AdminInitializer.java
src/main/java/com/SaralSewa/SaralSewa/Admin/AdminInitializer.java

# 🔐 SECURE - Sensitive Configuration Files
**/application-*.yml
**/application-*.yaml
**/application-*.properties
**/application-dev.yml
**/application-prod.yml
**/application-local.yml
*.env
*.env.*
**/01-insert-into-application_config
